$feature-width: 80%;
$feature-margin: 4rem auto;
$feature-margin-between: 6rem;
$feature-padding: 2rem 0;

$feature-overview-width: 40%;
$feature-overview-padding: 2rem 0;
$feature-overview-divisor-height: 1rem;
$feature-overview-divisor-margin: 2rem 0;

$feature-title-color: #b4b6d2;
$feature-title-background: repeating-linear-gradient(
    -45deg,
    transparent 0 1rem,
    #111111 1rem 2rem);
$feature-title-font-weight: 600;
$feature-title-font-letter-spacing: 0.1rem;
$feature-title-font-size: 1.5rem;
$feature-title-margin: 0 0 2rem 0;
$feature-title-padding: 1rem 10%;

$feature-description-font-size: 1.25rem;
$feature-description-color-odd: #a8a8a8;
$feature-description-color-even: #cccccc;
$feature-description-margin: 1rem 10%;
$feature-description-font-weight: 500;

$feature-image-width: 60%;
$feature-image-max-height: calc(max(20rem, 33vh));
$feature-image-max-width: 80vw;

$feature-environment-image-max-height: calc(max(24rem, 40vh));

.feature {
    $this: &;

    display: flex;
    flex-wrap: wrap;
    width: $feature-width;
    margin: $feature-margin;
    align-items: center;

    & + #{&} {
        margin-top: $feature-margin-between;
    }

    &__overview {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1 0 $feature-overview-width;
        padding: $feature-overview-padding;

        &::after {
            content: "";
            display: block;
            width: 100%;
            height: $feature-overview-divisor-height;
            margin: $feature-overview-divisor-margin;
            background: $feature-title-background;
        }
    }

    &__title {
        text-transform: uppercase;
        font-size: $feature-title-font-size;
        letter-spacing: $feature-title-font-letter-spacing;
        font-weight: $feature-title-font-weight;
        background: $feature-title-background;
        color: $feature-title-color;
        margin: $feature-title-margin;
        padding: $feature-title-padding;
        text-align: center;
    }

    &__description {
        font-size: $feature-description-font-size;
        font-weight: $feature-description-font-weight;
        margin: $feature-description-margin;
        
        &:nth-child(even) {
            color: $feature-description-color-even;
            transform: translateX(-0.75rem);
        }
        
        &:nth-child(odd) {
            color: $feature-description-color-odd;
            transform: translateX(+0.75rem);
        }
    }

    &__image {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1 1 $feature-image-width;
        
        img {
            max-height: $feature-image-max-height;
            max-width: 80vw;
        }
    }

    &.environment {
        #{$this}__image img {
            max-height: $feature-environment-image-max-height;
        }
    }

    &.battle {
        flex-direction: row-reverse;
    }
}