$feature-width: 80%;
$feature-margin: 4rem auto;
$feature-padding: 2rem 0;

$feature-overview-width: 40%;
$feature-overview-padding: 2rem 0;

$feature-title-color: #b4b6d2;
$feature-title-background-color: #111111;
$feature-title-box-shadow: inset 0 0 3rem 1.5rem #000000, inset 0 0 1px 1px #000000;
$feature-title-font-size: 1.5rem;
$feature-title-margin: 0;
$feature-title-padding: 2rem 10%;
$feature-title-border-radius: 4rem;

$feature-description-font-size: 1.25rem;
$feature-description-color-odd: #a8a8a8;
$feature-description-color-even: #cccccc;
$feature-description-margin: 1rem 10%;

$feature-image-width: 60%;

.feature {
    $this: &;

    display: flex;
    flex-wrap: wrap;
    width: $feature-width;
    margin: $feature-margin;
    align-items: center;

    &__overview {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1 0 $feature-overview-width;
        padding: $feature-overview-padding;
    }

    &__title {
        font-size: $feature-title-font-size;
        font-weight: 600;
        background-color: $feature-title-background-color;
        color: $feature-title-color;
        margin: $feature-title-margin;
        padding: $feature-title-padding;
        box-shadow: $feature-title-box-shadow;
        border-radius: $feature-title-border-radius;
        text-align: center;
    }

    &__description {
        font-size: $feature-description-font-size;
        margin: $feature-description-margin;
        
        &:nth-child(even) {
            color: $feature-description-color-even;
            transform: translateX(-0.75rem);
        }
        
        &:nth-child(odd) {
            color: $feature-description-color-odd;
            transform: translateX(+0.75rem);
        }
    }

    &__image {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1 1 $feature-image-width;
        
        img {
            max-height: calc(max(20rem, 40vh));
            max-width: 80vw;
        }
    }

    &.environment {
        #{$this}__image img {
            max-height: calc(max(24rem, 50vh));
        }
    }

    &.battle {
        flex-direction: row-reverse;
    }
}