<div class="feature spaceship">
  <div class="feature__overview">
    <p class="feature__title">Wciel się w rolę pilota kosmicznej śmieciarki</p>
    <p class="feature__description">
      Zmierz się z odpadkami dryfującymi w przestrzeni kosmicznej.
    </p>
    <p class="feature__description">
      Dostarcz jak najwięcej kosmicznych śmieci na stację swojej korporacji, aby
      odnieść zwycięstwo nad konkurencją.
    </p>
    <p class="feature__description">
      Nerwy ze stali oraz umiejętność zwinnego nawigowania w stanie nieważkości
      są niezbędne do sukcesu.
    </p>
  </div>

  <div class="feature__image">
    <img src="/assets/img/features/ship.png" />
  </div>
</div>

<div class="feature battle">
  <div class="feature__overview">
    <p class="feature__title">Wypełnij swój obowiązek za wszelką cenę</p>
    <p class="feature__description">
      Nie pozwól, aby ktokolwiek przeszkodził Ci w ukończeniu zadania.
    </p>
    <p class="feature__description">
      Wykorzystaj nowoczesne uzbrojenie laserowe swojej śmieciarki do ochrony...
      lub zwiększania swojego ładunku.
    </p>
    <p class="feature__description">
      Pamiętaj, śmieć jednego jest innemu skarbem!
    </p>
  </div>

  <div class="feature__image">
    <img src="/assets/img/features/garbage.png" />
  </div>
</div>

<div class="feature environment">
  <div class="feature__overview">
    <p class="feature__title">Uważaj na siły natury</p>
    <p class="feature__description">
      Zagrożenie istnieje nie tylko za sterami innych śmieciarek.
    </p>
    <p class="feature__description">
      Pułapki grawitacyjne czarnych dziur oraz trajektorie szybkich asteroid i odpadków
      mogą szybko obrócić Twoją śmieciarkę w pył.
    </p>
    <p class="feature__description">
      Unikaj destrukcyjnych zjawisk fizycznych bądź wykorzystaj je do swoich
      celów.
    </p>
  </div>

  <div class="feature__image">
    <img src="/assets/img/features/station.png" />
  </div>
</div>
