<div class="feature">
    <div class="feature__overview">
        <p class="feature__title">Wciel się w rolę pilota kosmicznej śmieciarki</p>
        <p class="feature__description">
            Zmierz się z odpadkami dryfującymi w przestrzeni kosmicznej.
            Dostarcz jak najwięcej kosmicznych śmieci na stację swojej korporacji, aby odnieść zwycięstwo nad konkurencją.
            Nerwy ze stali oraz umiejętność zwinnego nawigowania w stanie nieważkości są niezbędne do sukcesu.
        </p>
    </div>

    <div class="feature__image">

    </div>
</div>

<div class="feature">
    <div class="feature__overview">
        <p class="feature__title">Wypełnij swój obowiązek za wszelką cenę</p>
        <p class="feature__description">
            Nie pozwól, aby ktokolwiek przeszkodził Ci w ukończeniu zadania.
            Wykorzystaj nowoczesne uzbrojenie laserowe swojej śmieciarki do ochrony... lub zwiększania swojego ładunku.
            Pamiętaj, śmieć jednego jest innemu skarbem!
        </p>
    </div>

    <div class="feature__image">

    </div>
</div>

<div class="feature">
    <div class="feature__overview">
        <p class="feature__title">Uważaj na siły natury</p>
        <p class="feature__description">
            Zagrożenie istnieje nie tylko za sterami innych śmieciarek.
            Pułapki grawitacyjne czarnych dziur oraz trajektorie szybkich asteroid mogą szybko obrócić Twoją śmieciarkę w pył.
            Unikaj destrukcyjnych zjawisk kosmicznych lub wykorzystaj je do swoich celów.
        </p>
    </div>

    <div class="feature__image">

    </div>
</div>