$authors-width: 80%;
$authors-margin: 0 auto;

$authors-title-color: #ffffff;
$authors-title-background-color: #111111;
$authors-title-box-shadow: inset 0 0 3rem 1.5rem #000000, inset 0 0 1px 1px #000000;
$authors-title-font-size: 2rem;
$authors-title-margin: 0;
$authors-title-padding: 2rem;
$authors-title-border-radius: 100%;

$technology-logos-width: 40%;
$technology-logos-image-padding: 1rem;
$technology-logos-image-max-height: max(10rem, 20vh);
$technology-logos-image-max-width: 80vw;
$technology-logos-image-opacity: 0.8;
$technology-logos-ue-transform: translateY(-7.5%);
$technology-logos-blender-transform: translateY(+7.5%);

$technology-description-width: 60%;
$technology-description-color: #cccccc;
$technology-description-padding: 1rem;
$technology-description-font-size: 1.25rem;

$developers-padding: 0 4rem;
$developers-margin: 1rem auto;

$developers-name-font-size: 1.5rem;
$developers-name-font-weight: 600;
$developers-name-padding: 1rem 2rem;
$developers-color: #5f8bd1;

.authors {
    width: $authors-width;
    margin: $authors-margin;

    &__title {
        text-align: center;
        color: $authors-title-color;
        font-size: $authors-title-font-size;
        background-color: $authors-title-background-color;
        box-shadow: $authors-title-box-shadow;
        margin: $authors-title-margin;
        padding: $authors-title-padding;
        border-radius: $authors-title-border-radius;
    }

    .technology {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    
        &__logos {
            display: flex;
            flex: 1 0 $technology-logos-width;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
    
            &-ue, &-blender {
                object-fit: contain;
                padding: $technology-logos-image-padding;
                max-height: $technology-logos-image-max-height;
                max-width: $technology-logos-image-max-width;
                opacity: $technology-logos-image-opacity;
            }
    
            &-ue {
                transform: $technology-logos-ue-transform;
            }
    
            &-blender {
                transform: $technology-logos-blender-transform;
            }
        }
    
        &__description {
            display: flex;
            flex: 1 0 $technology-description-width;
            flex-direction: column;
            justify-content: center;
            color: $technology-description-color;
            padding: $technology-description-padding;
            font-size: $technology-description-font-size;
        }
    }
    
    .developers {
        display: flex;
        padding: $developers-padding;
        margin: $developers-margin;
        flex-wrap: wrap;
        justify-content: center;
        max-width: max-content;
    
        &__name {
            flex: 0 0 auto;
            color: $developers-color;
            font-size: $developers-name-font-size;
            font-weight: $developers-name-font-weight;
            padding: $developers-name-padding;
            text-align: center;
        }
    
        &__separator {
            flex: 0 0 100%;
        }
    }
}