$technology-width: 80%;
$technology-margin: 0 auto;

$technology-logos-width: 40%;
$technology-logos-padding: 1rem 2rem;
$technology-logos-image-margin: 1rem;
$technology-logos-image-max-height: calc(max(10rem, min(20vh, 25vw)));
$technology-logos-image-opacity: 0.8;
$technology-logos-ue-transform: translateY(-10%);
$technology-logos-blender-transform: translateY(+10%);

$technology-description-color: #cccccc;
$technology-description-font-size: 1.25rem;
$technology-description-min-width: 25rem;

$authors-width: 80%;
$authors-padding: 0 4rem;
$authors-margin: 1rem auto;

$authors-name-font-size: 1.5rem;
$authors-name-font-weight: 600;
$authors-name-padding: 1rem 2rem;
$authors-color: #5f8bd1;

.technology {
    display: flex;
    flex-wrap: wrap;
    width: $technology-width;
    margin: $technology-margin;
    justify-content: center;

    &__logos {
        display: flex;
        flex: 0 0 $technology-logos-width;
        padding: $technology-logos-padding;
        justify-content: center;
        align-items: center;

        &-ue, &-blender {
            width: fit-content;
            margin: $technology-logos-image-margin;
            max-height: $technology-logos-image-max-height;
            opacity: $technology-logos-image-opacity;
        }

        &-ue {
            transform: $technology-logos-ue-transform;
        }

        &-blender {
            transform: $technology-logos-blender-transform;
        }
    }

    &__description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: justify;
        color: $technology-description-color;
        flex: 1 0 $technology-description-min-width;
        font-size: $technology-description-font-size;
    }
}

.authors {
    display: flex;
    width: $authors-width;
    padding: $authors-padding;
    margin: $authors-margin;
    flex-wrap: wrap;
    justify-content: center;

    &__name {
        flex: 0 0 auto;
        color: $authors-color;
        font-size: $authors-name-font-size;
        font-weight: $authors-name-font-weight;
        padding: $authors-name-padding;
        text-align: center;
    }

    &__separator {
        flex: 0 0 100%;
    }
}