<div class="authors">
  <p class="authors__title">Zespół i technologia</p>

  <div class="technology">
    <div class="technology__logos">
      <img
        class="technology__logos-ue"
        src="/assets/img/logos/unreal_engine.png"
      />
      <img
        class="technology__logos-blender"
        src="/assets/img/logos/blender.png"
      />
    </div>
    <div class="technology__description">
      <p>
        Gra "Garbage Collector" powstała jako projekt zaliczeniowy w ramach
        przedmiotu "Projektowanie Środowiska Wirtualnego" na specjalności CAD/CAM
        na kierunku Informatyka i Systemy Informacyjne.
      </p>
      <p>
        W celu realizacji gry wykorzystany został silnik graficzny Unreal Engine 5.
        Modele obiektów gry zostały wykonane z użyciem aplikacji
        modelowania 3D Blender.
      </p>
    </div>
  </div>
  

  <div class="developers">
    <span class="developers__name">Mikołaj Wójcik</span>
    <span class="developers__name">Piotr Widomski</span>
    <span class="developers__name">Kacper Walasek</span>
    <span class="developers__separator"></span>
    <span class="developers__name">Mikołaj Terzyk</span>
    <span class="developers__name">Mateusz Tabor</span>
  </div>
</div>

