<div class="footer">
  <p class="footer__company">
    Created by
    <span class="footer__company-name">&copy; G3# Studios 2023</span>
  </p>
  <p class="footer__author">
    Designed by <span class="footer__author-name">Mateusz Tabor</span>
  </p>
  <p class="footer__nonprofit">
    'Grind' font created by Tugcu Design Co, 'Zekton' font created by Ray
    Larabie and Risk Of Rain 2 art created by Hopoo Games are used solely for
    educational and presentation purposes. The creators of Garbage Collector and
    this website do not benefit monetarily in any way from the use of these
    assets. Be that directly or through associated parties. Both of the above
    have been used only for educational purposes.
  </p>
</div>
