$navbar-background: rgba($color: #111111, $alpha: 0.75);
$navbar-box-shadow: 0 0.25rem 0.5rem 0 rgba($color: #000000, $alpha: 0.35);

$navbar-toggler-color: #ffffff;
$navbar-toggler-hover-scale: 110%;
$navbar-toggler-transition: transform 0.2s;

$navbar-brand-font-family: 'Grind', Arial, Helvetica, sans-serif;
$navbar-brand-font-size: calc(min(1.5rem, 6vw));
$navbar-brand-font-weight: 500;
$navbar-brand-font-color-top: #ffffff;
$navbar-brand-font-color-bottom: #b4b6d2;
$navbar-brand-margin: 0 calc(min(4rem, 10vw)) 0 2rem;
$navbar-brand-padding: 0.5rem 0;

$navbar-collapse-margin: 0.25rem 0 0.25rem 2rem;

$navbar-nav-link-font-size: 1.25rem;
$navbar-nav-link-margin: 0 1.5rem 0 0;
$navbar-nav-link-color: #7eadf7;
$navbar-nav-link-hover-color: #a6c5f7;

.navbar {
    display: block;
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: $navbar-background;
    box-shadow: $navbar-box-shadow;
    padding: 0;

    &-brand {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: $navbar-brand-margin;
        padding: $navbar-brand-padding;
        cursor: pointer;

        &__title {
            margin: 0;
            font-family: $navbar-brand-font-family;
            font-size: $navbar-brand-font-size;
            font-weight: $navbar-brand-font-weight;
        
            &--top {
                color: $navbar-brand-font-color-top;
            }
    
            &--bottom {
                color: $navbar-brand-font-color-bottom;
            }
        }
    }

    &-toggler {
        color: $navbar-toggler-color;
        transition: $navbar-toggler-transition;

        &:hover {
            transform: scale(#{$navbar-toggler-hover-scale});
        }
    }

    &-collapse {
        margin: $navbar-collapse-margin;

        .nav-link {
            display: inline-block;
            font-size: $navbar-nav-link-font-size;
            margin: $navbar-nav-link-margin;
            color: $navbar-nav-link-color;
            border-bottom: 1px solid transparent;
            border-top: 1px solid transparent;
            transition: border-bottom 0.5s, color 0.5s;
            cursor: pointer;

            &:hover {
                color: $navbar-nav-link-hover-color;
                border-bottom: 1px solid $navbar-nav-link-hover-color;
            }
        }
    }
}